<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365164998489-pjaoh6clve7l04eohd1bqgmrge7iknpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365164998489-pjaoh6clve7l04eohd1bqgmrge7iknpv</string>
	<key>API_KEY</key>
	<string>AIzaSyB3OB4I3z4VlT2--tp493i2DjsFadpZcW4</string>
	<key>GCM_SENDER_ID</key>
	<string>365164998489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smad.eventendo</string>
	<key>PROJECT_ID</key>
	<string>eventapp-37187</string>
	<key>STORAGE_BUCKET</key>
	<string>eventapp-37187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365164998489:ios:f06467354d560febd1e648</string>
</dict>
</plist>